body {
    background-color: #222;
}
.pipboy-img-container {
    position: relative;
    width: max-content;
    height: 337px;
}
/*Add show class via js to display the pseudo element*/
.pipboy-img-container.show::after {
    content:"";
    position: absolute;
    top:0;
    left:0;
    background:url('images/pipboy-success-pause.gif');
    width: 100%;
    height: 100%;
    display:block;
}